html, body {
    height: 100%;
}

body {
    z-index: 0;
    background: #DDDDDD;
    color: #000000;;
    margin: 0;
}

A:visited  {color: #FFBF00; text-decoration: none}
A:link  {color: #FFFFFF; text-decoration: none}
A:active  {color: #C0FFC0; text-decoration: none}
A:hover   {cursor: crosshair; color: #C0FFC0; background-color: lightslategray; text-decoration: none}

.stageinput {
    z-index: 100; 
    position: absolute; 
    left: 100px;
    top: 100px;
    width: 1024px;
    height: 480px;
    color: #000000;
    background-color: #DDDDDD;
}

.stageoutput {
    z-index: 100; 
    position: absolute; 
    left: 100px;
    top: 100px;
    width: 1024px;
    height: 480px;
    color: #000000;
    background-color: #DDDDDD;
}

.stagedata {
    position: relative; 
    left: 0px;
    top: 0px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-decoration: none;    
    color: #000000;
}

.stagetable {
    position: relative; 
    left: 0px;
    top: 0px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-decoration: none;    
    color: #000000;
}

.stagenumber {
    position: relative; 
    left: 0px;
    top: 0px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-decoration: none;    
    color: #000000;
}

.stn {
    width: 160px;
}

.stsp {
    height: 10px;
}

.stsp2 {
    height: 20px;
}

.stsp3 {
    height: 50px;
}

.stbox {
    width: 400px;
}

.stdbox {
    width: 105px;
}

.stybox {
    width: 100px;
}

.stnmc {
    width: 20px;
}

.stnmc2 {
    width: 10px;
}

.stpn {
    width: 140px;
    text-align: left;
}

.stdr {
    width: 260px;
    text-align: left;
    vertical-align: bottom;
}

.stdr2 {
    width: 200px;
    text-align: left;
    vertical-align: bottom;
}

.stsm {
    width: 260px;
    text-align: left;
    vertical-align: bottom;
}

.stsmc {
    width: 260px;
    text-align: left;
    vertical-align: top;
}

.stsm1 {
    width: 50px;
    text-align: left;
    vertical-align: bottom;
}

.stsm2 {
    width: 400px;
    text-align: left;
    vertical-align: bottom;
}

.ch {
    position: relative;
    z-index: 10;
    top: 0px;
    left: 0px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
}

.chmap {
    position: absolute;
    top: 45px;
    left: 10px;
}

.chimg {
    position: absolute;
    top: 0px;
    left: 10px;
}

.ch1 {
    position: absolute;
    top: 11px;
    left: 146px;
}

.ch2 {
    position: absolute;
    top: 11px;
    left: 273px;
}

.ch3 {
    position: absolute;
    top: 11px;
    left: 400px;
}

.ch4 {
    position: absolute;
    top: 82px;
    left: 210px;
}

.ch5 {
    position: absolute;
    top: 82px;
    left: 336px;
}

.ch6 {
    position: absolute;
    top: 151px;
    left: 273px;
}

.ch7 {
    position: absolute;
    top: 221px;
    left: 273px;
}

.pn {
    position: relative;
    z-index: 10;
    top: 260px;
    left: 0px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
}

.pnmap {
    position: absolute;
    top: 45px;
    left: 43px;
}

.pnimg {
    position: absolute;
    top: 0px;
    left: 10px;
}

.pn1 {
    position: absolute;
    top: 216px;
    left: 116px;
}

.pn2 {
    position: absolute;
    top: 216px;
    left: 240px;
}

.pn3 {
    position: absolute;
    top: 216px;
    left: 368px;
}

.pn4 {
    position: absolute;
    top: 147px;
    left: 178px;
}

.pn5 {
    position: absolute;
    top: 147px;
    left: 304px;
}

.pn6 {
    position: absolute;
    top: 76px;
    left: 240px;
}

.pn7 {
    position: absolute;
    top: 7px;
    left: 240px;
}

.dr {
    position: relative;
    z-index: 10;
    top: 520px;
    left: 0px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
}

.pe {
    position: relative;
    z-index: 10;
    top: 510px;
    left: 0px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
}

.end {
    position: relative;
    top: 600px;
    left: 0px;
}

.keyb {
    position: relative;
    z-index: 10;
    top: 0px;
    left: 50px;
    height: 200px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
}

.kbb {
    position: absolute;
    z-index: 10;
    width: 46px;
    height: 37px;
    background-color: white;
}

.kbl {
    position: absolute;
    z-index: 11;
    color: black;
}

.kbi {
    position: absolute;
    z-index: 12;
}













